<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practica2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Quiz"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" android:label="Test">
        </activity>
        <activity android:name=".QuizActivity" android:label="Quiz">
        </activity>
        <activity android:name=".ScoreActivity" android:label="Quiz">
        </activity>
        <activity android:name=".EndActivity" android:label="Quiz">
        </activity>
        <activity android:name=".SettingsActivity" android:label="Settings">
        </activity>
    </application>

</manifest>